.DS_Store
playbook/files
vars
group_vars/secrets.yml
roles/fish/files/fish/themes
roles/fish/files/fish/fish_plugins
roles/fish/files/fish/fish_variables
roles/fish/files/fish/completions
roles/fish/files/fish/conf.d
roles/fish/files/fish/functions/_*
roles/fish/files/fish/functions/fisher.fish
.claude/
