[client-server]
user=diego.romero
port=3307
socket=/tmp/mariadb.sock

[mariadbd-10.6]
data=/opt/homebrew/var/mariadb
log_error=/opt/homebrew/var/mariadb/mariadb.err

[mysqld-8.0]
table_open_cache=400
max_allowed_packet=256M
port=3306
socket=/tmp/mysql.sock

[client]
socket=/tmp/mysql.sock
user=root
