---

- name: Get fish directory
  ansible.builtin.command: brew --prefix
  register: fish_dir
  changed_when: false
  tags: [always]

- name: Symlink mise configuration file
  ansible.builtin.file:
    src: "{{ ansible_env.PWD }}/roles/environments/files/mise.toml"
    dest: "{{ ansible_env.HOME }}/.config/mise.toml"
    state: link
  tags: [environments]

- name: Trust mise's config file
  ansible.builtin.shell: mise trust
  args:
    executable: "{{ fish_dir.stdout }}/bin/fish"
  changed_when: false
  tags: [environments]

- name: Symlink default initial packages file
  ansible.builtin.file:
    src: "{{ ansible_env.PWD }}/roles/environments/files/{{ item.defaults }}"
    dest: "{{ ansible_env.HOME }}/.{{ item.defaults }}"
    state: link
  with_items: "{{ environments_mise_tools }}"
  when: item.defaults is defined
  tags: [environments]

- name: Install mise plugins
  ansible.builtin.shell: mise plugins install {{ item.name }} {{ item.plugin }}
  args:
    executable: "{{ fish_dir.stdout }}/bin/fish"
  register: mise_installation_result
  changed_when: "'already installed' not in mise_installation_result.stdout"
  with_items: "{{ environments_mise_tools }}"
  when: item.plugin is defined
  tags: [environments]

- name: Import Node.js GPG keys
  ansible.builtin.shell: |
    gpg --keyserver hkps://keys.openpgp.org --recv-keys 4ED778F539E3634C779C87C6D7062848A1AB005C
    gpg --keyserver hkps://keys.openpgp.org --recv-keys 141F07595B7B3FFE74309A937405533BE57C7D57
    gpg --keyserver hkps://keys.openpgp.org --recv-keys 74F12602B6F1C4E913FAA37AD3A89613643B6201
    gpg --keyserver hkps://keys.openpgp.org --recv-keys DD792F5973C6DE52C432CBDAC77ABFA00DDBF2B7
    gpg --keyserver hkps://keys.openpgp.org --recv-keys 61FC681DFB92A079F1685E77973F295594EC4689
    gpg --keyserver hkps://keys.openpgp.org --recv-keys 8FCCA13FEF1D0C2E91008E09770F7A9A5AE15600
    gpg --keyserver hkps://keys.openpgp.org --recv-keys C4F0DFFF4E8C1A8236409D08E73BC641CC11F4C8
    gpg --keyserver hkps://keys.openpgp.org --recv-keys 890C08DB8579162FEE0DF9DB8BEAB4DFCF555EF4
    gpg --keyserver hkps://keys.openpgp.org --recv-keys C82FA3AE1CBEDC6BE46B9360C43CEC45C17AB93C
    gpg --keyserver hkps://keys.openpgp.org --recv-keys 108F52B48DB57BB0CC439B2997B01419BD92F80A
    gpg --keyserver hkps://keys.openpgp.org --recv-keys A363A499291CBBC940DD62E41F10027AF002F8B0
    gpg --keyserver hkps://keys.openpgp.org --recv-keys 86C8D74642E67846F8E120284DAA80D1E737BC9F
  register: gpg_import_result
  changed_when: "'imported' in gpg_import_result.stderr"
  failed_when: false
  tags: [environments]

- name: Install default tool versions
  ansible.builtin.shell: mise install {{ item.name }}
  args:
    executable: "{{ fish_dir.stdout }}/bin/fish"
  register: mise_installation_result
  changed_when: "'already installed' not in mise_installation_result.stdout"
  with_items: "{{ environments_mise_tools }}"
  tags: [environments]

- name: Update NodeJS config
  ansible.builtin.import_tasks: nodejs.yml
  tags: [environments]

- name: Reshim mise tools
  ansible.builtin.shell: mise reshim
  args:
    executable: "{{ fish_dir.stdout }}/bin/fish"
  changed_when: false
  tags: [environments, upgrade]
