---

- name: Installing tmux Plugin Manager
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm
    depth: "10"
    force: true
    recursive: true
    dest: "{{ ansible_env.HOME }}/.tmux/plugins/tpm"
  tags: [tmux, skip_ansible_lint]

- name: Symlink tmux.conf
  ansible.builtin.file:
    src: "{{ ansible_env.PWD }}/roles/tmux/files/tmux.conf"
    dest: "{{ ansible_env.HOME }}/.tmux.conf"
    state: link
  tags: [tmux]

- name: Ensuring color profile is installed
  ansible.builtin.command:
    cmd: infocmp -x tmux-256color
  register: tmux_color_profiles
  changed_when: false
  failed_when: false
  tags: [tmux]

- name: Installing color profile
  ansible.builtin.shell:
    cmd: >
      cd /tmp &&\
        curl -LO https://invisible-island.net/datafiles/current/terminfo.src.gz &&\
        gunzip terminfo.src.gz &&\
        /usr/bin/tic -xe tmux-256color terminfo.src &&\
        rm -rf terminfo.src*
  changed_when: tmux_color_profiles.rc != 0
  when: tmux_color_profiles.rc != 0
  tags: [tmux]

- name: Ensure tmux socket directory exists
  ansible.builtin.file:
    path: "/private/tmp/tmux-{{ ansible_facts.user_uid }}"
    state: directory
    mode: "0700"
  tags: [tmux]

- name: Ensure tmux server is running
  ansible.builtin.command:
    cmd: tmux start-server
  changed_when: false
  tags: [tmux]

- name: Clean tpm plugins
  ansible.builtin.command:
    cmd: "{{ ansible_env.HOME }}/.tmux/plugins/tpm/bin/clean_plugins"
  register: tmux_cleaned_plugins
  changed_when: "'Removing' in tmux_cleaned_plugins.stdout"
  tags: [tmux]

- name: Install tpm plugins
  ansible.builtin.command:
    cmd: "{{ ansible_env.HOME }}/.tmux/plugins/tpm/bin/install_plugins"
  register: tmux_installed_plugins
  changed_when: "'Installing' in tmux_installed_plugins.stdout"
  tags: [tmux]

- name: Import upgrade tasks
  ansible.builtin.include_tasks: upgrade.yml
  tags: [upgrade]
