---

- name: Clean tpm plugins
  ansible.builtin.command:
    cmd: "{{ ansible_env.HOME }}/.tmux/plugins/tpm/bin/clean_plugins"
  register: tmux_cleaned_plugins
  changed_when: "'Removing' in tmux_cleaned_plugins.stdout"
  when: lookup('ansible.builtin.env', 'TMUX', default='') | trim | length > 0
  tags: [upgrade]

- name: Upgrade tpm plugins
  ansible.builtin.command:
    cmd: "{{ ansible_env.HOME }}/.tmux/plugins/tpm/bin/update_plugins all"
  changed_when: false
  when: lookup('ansible.builtin.env', 'TMUX', default='') | trim | length > 0
  tags: [upgrade]
