---

- name: Adding additional taps
  community.general.homebrew_tap:
    name: "{{ item }}"
    state: present
  loop: "{{ homebrew_taps }}"
  tags: [osx]

- name: Installing homebrew formulas
  community.general.homebrew:
    name: "{{ item }}"
    state: present
  loop: "{{ homebrew_formulas }}"
  tags: [osx]

- name: Installing homebrew based LSPs
  community.general.homebrew:
    name: "{{ item }}"
    state: present
  loop: "{{ homebrew_lsps }}"
  tags: [osx]

- name: Installing cask applications
  community.general.homebrew_cask:
    name: "{{ item }}"
    state: present
  loop: "{{ homebrew_cask_applications }}"
  tags: [osx]
