---

- name: Install common packages from Brewfile
  ansible.builtin.command:
    cmd: brew bundle --file={{ ansible_env.PWD }}/Brewfile
  register: brew_bundle_common
  changed_when: "'Installing' in brew_bundle_common.stdout"
  tags: [osx]

- name: Install host-specific packages from Brewfile
  ansible.builtin.command:
    cmd: brew bundle --file={{ ansible_env.PWD }}/Brewfile.{{ inventory_hostname }}
  register: brew_bundle_host
  changed_when: "'Installing' in brew_bundle_host.stdout"
  tags: [osx]
