---

- name: Upgrading MAS apps
  ansible.builtin.command: mas upgrade
  register: mas_upgrade_status
  changed_when: "(mas_upgrade_status.stdout is defined) and ('Nothing found to upgrade' not in mas_upgrade_status.stdout)"
  failed_when: false
  tags: [upgrade]

- name: Upgrade homebrew formulas
  community.general.homebrew:
    name: "{{ homebrew_formulas }}"
    state: latest
    update_homebrew: true
  tags: [upgrade]

- name: Upgrade cask applications
  community.general.homebrew_cask:
    name: "{{ homebrew_cask_applications }}"
    state: latest
  tags: [upgrade]

- name: Upgrade homebrew based LSPs
  community.general.homebrew:
    name: "{{ homebrew_lsps }}"
    state: latest
  tags: [upgrade]
